QPushButton#botonHome {
    background: white;
    color: #002156;
    border: 2px solid white;
    padding: 20px;
    font-size: 17px;
    font-weight: 550;
    border-radius: 5px;
    width: 200px;
}

QPushButton#botonHome:hover {
    background: #002156;
    color: white;
    border: 2px solid white;
}

QWidget#ventanaHome {
    background: #002156;
    padding: 10px;
}

QWidget#ventanaGeneral {
    background: rgb(243, 243, 243);
}

QWidget#ventanaPopup {
    background: white;
}

QLabel#tituloHome {
    color: white;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
}

QPushButton#botonPrimario {
    background: #002156;
    color: white;
    border: 2px solid #002156;
    padding: 5px;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
}

QPushButton#botonPrimario:hover {
    background: white;
    color: #002156;
    border: 2px solid #002156;
}

QLabel#tituloModulo {
    color: #002156;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

QLabel#tituloPopup {
    color: #002156;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

QLabel#tituloMensaje {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

QLineEdit#inputSearch{
    background: white;
    color: gray;
    border: 1px solid #002156;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
}