QPushButton#botonHome {
    background-image: url("./view/resources/fondo-6.jpg");
    background-repeat: repeat;
    color: white;
    border: 2px solid #fff;
    padding: 20px;
    font-size: 17px;
    font-weight: 550;
    border-radius: 5px;
    width: 200px;
}

QPushButton#botonHome:hover {
    border: 2px solid #6c757d;
}

QWidget#ventanaHome {
    background: qlineargradient(x1: 1, y1: 0, x2: 1 y2: 1, stop: 0 #002f79, stop: 1 #001a44);
    padding: 10px;
}

QWidget#ventanaGeneral {
    background: rgb(243, 243, 243);
}

QWidget#ventanaPopup {
    background: white;
}

QLabel#tituloHome {
    color: #fff;
    font-size: 30px;
    font-weight: 550;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

QLabel#footerHome {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

QPushButton#botonPrimario {
    background: #0e52c0;
    color: #fff;
    border: 2px solid #0e52c0;
    padding: 5px;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
}

QPushButton#botonPrimario:hover {
    background: #fff;
    color: #0e52c0;
    border: 2px solid #0e52c0;
}

QPushButton#botonSecundario {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
    padding: 5px;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
}

QPushButton#botonSecundario:hover {
    background: #fff;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

QLabel#tituloModulo {
    color: #002156;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

QLabel#tituloPopup {
    color: #002156;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

QLabel#tituloMensaje {
    color: #1d2124;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

QLineEdit#inputSearch {
    background: #fff;
    color: #292b2c;
    border: 1px solid #6c757d;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 200;
    padding: 5px;
}

QLineEdit#inputSearch:hover {
    border: 1px solid #0e52c0;
}

QLineEdit#inputSearch:focus {
    border: 1px solid;
    border-color: #0e52c0;
    height: 5em;
}

QPushButton#upload {
    color: #fff;
    background-color: #0e52c0;
    border: 1px solid #0e52c0;
    border-radius: 5px;
}

QPushButton#upload:hover {
    background-color: #fff;
    color: #0e52c0;
    border: 2px solid #0e52c0;
}

QPushButton#searchStudent {
    color: #fff;
    border: 1px solid #0e52c0;
    background-color: #0e52c0;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
    height: 25%;
    width: 100%;
}

QPushButton#searchStudent:hover {
    background-color: #fff;
    color: #0e52c0;
    border: 2px solid #0e52c0;
}

QPushButton#cancel {
    background: #d9534f;
    color: #fff;
    border: 1px solid #d9534f;
    padding: 5px;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
}

QPushButton#cancel:hover {
    background-color: #fff;
    color: #d9534f;
    border: 2px solid #d9534f;
}

QPushButton#page {
    position: relative;
    padding: 0.5em 0.5em;
    color: #0e52c0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.4em;
}

QPushButton#page:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

QPushButton#page:focus {
    border-color: #6c757d;
    border-radius: 0.4em;
}

QPushButton#searchModuleButton {
    float: right;
    color: #fff;
    border: 1px solid #0e52c0;
    background-color: #0e52c0;
    font-size: 13px;
    font-weight: 550;
    border-radius: 5px;
}

QPushButton#searchModuleButton:hover {
    background-color: #fff;
    color: #0e52c0;
    border: 2px solid #0e52c0;
}